body{
  background-color: lightpink;
}

h1, h2, h3
{
    font-family: "Oswald", sans-serif;
}

.image-gallery1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
}
  
  .grid-item2 {
    border: solid purple;
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  .image-gallery2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
}
  
  .grid-item2 {
    border: solid purple;
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  .landingPage {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
  }

  #landingHeader{
    text-align: center;
  }

  #hobbiesHeader{
    text-align: center;
  }

  #aboutHeader{
    text-align: center;
  }
  
  .topNav {
    background-color: turquoise;
    display: inline-block;
    text-align: left;
    color: black;
    text-decoration: none;
  }

  .landingImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid purple;
    border-radius: 15px;
    padding: 5px;
  }